<nav class="navbar navbar-default navbar-fixed">
  <div class="container">
    <ul class="nav navbar-nav">
      <li> <a href="<%= todos_path %>">Index</a> </li>
      <li> <a href="<%= todos_list_path %>">Lista</a> </li>
      <li> <a href="<%= todos_new_path %>">Tarea</a> </li>
    </ul>
  </div>
</nav>
